html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    padding-left: 2rem;
}
a:hover{
    transition: smooth;
    transition-duration: 1s;
    color: aliceblue;
}
body{
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: aqua;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M405.91 627.6C568.04 623.87 690.68 405.92 1013.16 399.41 1335.64 392.9 1460.03 195.04 1620.41 192.21' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M935.66 594.23C1053.89 502.57 971.05 65.53 1187.04 51.19 1403.03 36.85 1560.72 168.01 1689.8 168.79' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M258.42 602.47C437.38 596.42 564.76 325.38 915.51 317.39 1266.26 309.4 1400.37 112.63 1572.6 110.19' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M125.06 587.53C253.35 584.5 363.4 405.64 605 405.45 846.6 405.26 844.97 475.45 1084.94 475.45 1324.91 475.45 1443.63 405.63 1564.88 405.45' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M204.51 568.02C383.92 554.6 487.18 212.18 823.66 201.24 1160.14 190.3 1282.79 40.18 1442.81 38.84' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.nav{
    position: sticky;
    top: 0;
    background: rgba(0,0,0, .5);
    min-height: 2rem;
    padding: 2.5rem;
    width: 100%;
    font-size: x-large;
    display: inline-flex;
}
.section{
    min-height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1{
    font-size: x-large;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.check{
    background: white;
    color: black;
    min-width: 20rem;
    box-shadow: 5px 5px 0px #15deff;
    border-radius: 0.3rem;
    margin: 5rem;
    min-height: 20rem;
    text-align: left;
    padding: 2rem;
    position: relative;
}
input{
    width: 79%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    display: inline-block;
    background-color: aqua;
    width: 20%;
    margin-left: 1%;
}
button:active{
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1rem #000000;
}
ul{
    padding-left: 0;
    width: 100%;
}
li{
    font-size: large;
    width: 90%;
    margin: 8px 0;
    border: none;
    list-style-type: none;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: rgba(208, 211, 211, 0.5);
}
meter{
    width: 60%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.7rem;
}
.footer{
    text-align: right;
    padding: 2.5rem;
    background: rgba(0,0,0, .5);
    width: 100%;
    position: relative;
    bottom: 0;
}